table {
	border : 1;
	bordercolor: #476866;
	background-color: #fff1cc;
	width: 80%; 
	cellpadding: 3; 
	cellspacing: 3;
}
body{
	font-size: 16px;
}

a{
	text-decoration: none;
	color: #69caa3;
}

h3{
	text-align: right;
	margin-top: -60px;
}

header {
	height: 5.625em;
	background-position-y: -25em;
	display: block;
	text-align: center;
	background-color: #162c4b;
	color: #f4f2c2;	
	width: 960px;
	position: fixed;
	top: 0px;
	margin-left: 10%;
}

.addLeague{
	width:30em;
  height:18em;
  margin-top: 8em; /*set to a negative number 1/2 of height*/
  margin-left: 22em; 
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
.dashboardMid{
	width:30em;
  height:18em;
  margin-top: 8em; /*set to a negative number 1/2 of height*/
  margin-left: 22em; 
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
.dashSidebar{
  position: fixed;
  left: 0; /* or right */
  top: 0;
  bottom: 0;
  overflow: auto;
}
.loginForm{
text-align: center;
margin-top: 105px;
}

.signupForm input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.signupForm input.ng-valid.ng-dirty {
    background-color: #78FA89;
