<div navbar class="navbar navbar-fixed-left">
	<div class="span3 well">
    <ul class="nav nav-list">
    <h1>Your Leagues</h1>
    		<button class="btn btn-success" ng-click="addLeague()">Add League</button>
        <div ng-repeat="league in player.leagues">
        	<h3>{{league.leagueName}}</h3>
        	<h5>Wins: {{league.wins}}</h5>
        	<h5>Losses: {{league.losses}}</h5>
        	<li class="divider"></li>
        </div>
    </ul>
	</div>
</div>
<!--use this to determine what view goes in the middle of the page -->
<div ng-include="rightSideUrl"></div>


